<!DOCTYPE html>
<html lang="it">
  <head>
    <title>Storia e archeologia - Marche</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <script>
      function redirect(link) {
        window.location.href = link;
      }
    </script>

    <div class="container-fluid text-center">
      <h1>
        <img
          src="https://cdn.glitch.global/93ac37e5-1239-438c-aa5b-344641e57492/logo_regione_marche.png?v"
          alt="Logo della regione Marche"
          class="img-fluid"
          height="2%"
          width="2%"
        />
        Storia e archeologia
      </h1>
      <p>Punti di interesse storico nelle Marche</p>
    </div>
    <table class="table table-hover" style="background-color:#008549; color:white;">
      <tr onclick="redirect('mappa')"> <th> Visualizza la mappa e lista dei punti di interesse. </th></tr>
      <tr onclick="redirect('inserisci')"> <th> Inserisci un nuovo punto di interesse. </th></tr>
      <tr onclick="redirect('rimuovi')"> <th> Rimuovi un punto di interesse. </th></tr>
      <tr onclick="redirect('cerca')"> <th> Cerca un punto di interesse. </th></tr>
    </table>
     <footer class="mt-5 p-4 bg-dark text-white text-center">
      Arlind Pecmarkaj - 2022
      <br>
      <p>Progetto di Piattaforme Digitali per la gestione del Territorio - Facoltà di Informatica Applicata, Università degli Studi di Urbino</p>
    </footer>
  </body>
</html>
